@model Products
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form asp-controller="Home" asp-action="Create" asp-method="post">
    <label asp-for="ProductId">        
    </label>
    <input asp-for="ProductId" />
   
    <label asp-for="ProductName">
    </label>
    <input asp-for="ProductName" />
    <label asp-for="Department" />
    <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()" />

   
</form>

