@model Products
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<form asp-controller="Home" asp-action="Create" asp-method="post">
    <label asp-for="ProductId">
    </label>
    <input asp-for="ProductId" />
    <span asp-validation-for="ProductId" class="text-danger"></span>
    <label asp-for="ProductName">
    </label>
    <span asp-validation-for="ProductName"></span>
    <input asp-for="ProductName" />
    <label asp-for="Department" />

    <button type="submit" class="btn btn-info pull-right">Create</button>

</form>

